<% data.forEach(element=> { %>
<span class="product">
  <a href="<%= element.url %>">
    <img src="<%= element.image %>" alt="product image goes here" />
  </a>
  <div class="product-info">
    <p id="title"><%= element.title %></p>
    <p id="price"><%= element.price %></p>

    <p id="shipping"><%= element.shipping %></p>

    <% if(element.rating) { %>
    <p id="rating"><%= element.rating %></p>
    <% } %>

  </div>
</span>
<% }) %>
